/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .wrapper {
        @apply max-w-7xl mx-auto px-4 md:px-8 sm:px-6;
    }
    @font-face {
        font-family: 'BrandonText';
        src: url('/fonts/BrandonText-Regular.otf') format('opentype');
        font-weight: normal;
    }

    @font-face {
        font-family: 'BrandonText';
        src: url('/fonts/BrandonText-Medium.otf') format('opentype');
        font-weight: 500;
    }

    @font-face {
        font-family: 'BrandonText';
        src: url('/fonts/BrandonText-Bold.otf') format('opentype');
        font-weight: bold;
    }

    body {
        font-family: BrandonText, Helvetica Neue, Helvetica, Arial;
    }

    .grid-image-gallery {
        display: grid;
        display: -ms-grid;
        grid-auto-flow: dense;
        column-count: 4;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 10rem);
        grid-gap: 4px;
    }

    .grid-image-gallery img {
        grid-column: span 1;
        grid-row: span 1;
    }
    .grid-image-gallery img:nth-child(1){
        grid-column: span 2;
        grid-row: span 2;
    }

    .grid-image-gallery img:nth-child(3), .grid-image-gallery img:nth-child(4) {
        grid-column: span 1;
        grid-row: span 1;
    }
}
